@font-face {
    font-family: GoogleSansFlex;
    src: url("./fonts/GoogleSansFlex.ttf");
}

:root {
    --ok-color: rgb(18, 109, 21);
    --ok-color-bg: rgb(166, 241, 166);
    --ok-color-card: rgba(222, 247, 222);
    --warn-color: rgb(128, 55, 0);
    --warn-color-bg: rgb(245, 166, 105);
    --warn-color-card: rgb(247, 205, 172);
    --custom-blue: rgb(0, 61, 92);

    --border-radius: 20px;
}

html {
    scroll-behavior: smooth;
    font-family: GoogleSansFlex;
    background-color: aliceblue;
}

body {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.dynamicPageNavigationSpan {
    font-size: x-small;
}

.body {
    display: grid;
    grid-template-columns: 74% 24%;
    column-gap: 1%;

    img {
        align-self: center;
    }
}

.preImg {
    width: 90%;
    border-radius: var(--border-radius);
}

.containerMaster {
    display: grid;
    grid-template-rows: auto auto;
    padding: 2.5%;
    border-radius: var(--border-radius);
}

.containerMaster.proTips {
    background-color: var(--ok-color-bg);
}

.containerMaster.mustNots {
    background-color: var(--warn-color-bg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4%;
}

.container.proTips {
    .card {
        background-color: var(--ok-color-card);
    }
}

.container.mustNots {
    .card {
        background-color: var(--warn-color-card);
    }
}

.card {
    padding: 2%;
    border-radius: var(--border-radius);
}

.card.args {
    background-color: lightblue;
}

.card.created {
    background-color: var(--custom-blue);
    color: aliceblue;
}

.heading {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 1%;
}

.proTipsTitle {
    color: var(--ok-color);
}

.mustNotsTitle {
    color: var(--warn-color);
}

.ok {
    fill: var(--ok-color);
}

.notOk {
    fill: var(--warn-color);
}

.customBlue {
    fill: var(--custom-blue);
    color: var(--custom-blue);
}

.listOfArgs {
    list-style: none;

    .card {
        background-color: rgb(199, 238, 251);
    }
}